/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-opensan: "Open Sans", sans-serif;
}