@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"); /* https://tailwindcss.com/docs/font-family */

/* https://tailwindcss.com/docs/preflight */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* https://tailwindcss.com/docs/dark-mode */
@custom-variant dark (&:where(.dark, .dark *));

/* https://tailwindcss.com/docs/font-family */
@theme {
  --font-inter-tight: "Inter Tight", sans-serif;
}